.navbar-toggler {
    position: relative;
}
.main {
    position: absolute;
}
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
}
.navbar-toggler span {
    display: block;
    background-color: #FFFFFF;
    height: 3px;
    width: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    transform: rotate(0deg);
    left: 0;
    opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
    transition: transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute;
    left: 12px;
    top: 10px;
    transform: rotate(135deg);
    opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute;
    left: 12px;
    top: 10px;
    transform: rotate(-135deg);
    opacity: 0.9;
}

/* My CSS for JS and Jquery */
.hidden{
    display: none!important;
}
figcaption {
    background-color: #222;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

#navbar {
    /* position: fixed; */
    top: 0;
    width: 100%;
    transition: top 0.3s;
}
body { padding-top: 70px; }
.float{
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0d6efd;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
    display:none;
    margin-bottom: 2rem;
}

.my-float{
	margin-top:16px;
}
.float:hover{
    color:#111111;
}

.btn_nav_Modal {
    border:none !important;
    margin:0;
    padding:0;
    background-color:transparent;
}

.fa-check::before{
    color:#198754;
    font-size: 22vw;

}
.fa-exclamation-triangle::before{
    color:#dc3545;
    font-size: 19vw;
}
.btn_icon{
    align-self: center;
}
.dropdown-menu{
    z-index: 2;
}

/* #main_p{
    z-index: -1;
} */

.score{
    text-align: center;
    font-size: 24vw;
}
.aprobado{
    color:#198754;
}
.desaprobado{
    color:#dc3545;
    /* font-family: Oswald; */
    /* font-size: 100px;
    animation: Color 4s linear infinite;
    -webkit-animation: Color 4s ease-in-out infinite;
    text-shadow: 10px 10px #F0F0F0; */
}
/* Countdown timer */
.coundown_cont{
    display:none;
}
.countdown{
        color:#0d6efd;
       /* text-align: center;  */
}

.coundown_cont{
    top: 0; /* or whatever position is desired */
    left: 0;
    right: 0;
    height: 0;
}

/* Text title animation for aprobado o no aprobado if needed */ 
/* @keyframes Color{
    0%{
        color:#cf8189;
    }
    
    20%{
        color:#ce6570;
    }
    
    40%{
        color:#FFCE54;
    }
    
    60%{
        color:#FC6E51;
    }
    
    80%{
        color:#ED5565;
    }
    
    100%{
        color:#dc3545;
    }
}

@-moz-keyframes Color{
    0%{
        color:#A0D468;
    }
    
    20%{
        color:#4FC1E9;
    }
    
    40%{
        color:#FFCE54;
    }
    
    60%{
        color:#FC6E51;
    }
    
    80%{
        color:#ED5565;
    }
    
    100%{
        color:#AC92EC;
    }
}

@-webkit-keyframes Color{
    0%{
        color:#A0D468;
    }
    
    20%{
        color:#4FC1E9;
    }
    
    40%{
        color:#FFCE54;
    }
    
    60%{
        color:#FC6E51;
    }
    
    80%{
        color:#ED5565;
    }
    
    100%{
        color:#AC92EC;
    }
} */
